@import url(/style/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
svg {
    display: block;
    width: 100%;
    height: auto;
}

ol,
ul {
    list-style-type: none;
}

a,
span,
label,
input,
button,
b,
i,
textarea {
    display: inline-block;
    font-family: inherit;
    font-weight: inherit;
}

a,
label,
input,
button,
textarea {
    cursor: pointer;
}

.font {
    font-family: "Roboto Condensed", sans-serif;
}

.container {
    width: 1920px;
    height: 1100px;
    background-color: rgb(15, 15, 15);
}


.main-page {
    width: 1300px;
    height: 1014px;
    position: relative;
    left: 550px;
    top: -60px;
    display: block;


}

.link {
    width: 200px;
    position: relative;
    top: -940px;
    left: 307px;
}

.links {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.green-active {
    color: rgba(2, 229, 2, 1);

}

.contact {
    width: 800px;
    height: 80px;
    position: relative;
    top: -900px;
    left: 307px;

}

.contacts {
    width: 200px;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(2, 229, 2, 1);
    position: relative;
    top: -956px;
    left: 310px;


}

.info-page {
    width: 483px;
    height: 510px;
    left: 307px;
    position: relative;
    background: rgba(30, 29, 29, 1);
    position: relative;
    top: -880px;


}

.agro {
    font-size: 62px;
    font-weight: 300;
    line-height: 62px;
    width: 191px;
    height: 62px;
    position: relative;
    top: 50px;
    left: 100px;
    color: #fff;
}

.info {
    position: relative;
    top: 100px;
    left: 90px;
}

.address,
.number {
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    width: 150px;
    height: 24px;
    padding-bottom: 30px;


}

.nameAddress,
.nameNumber {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}

.nameNumber{
    padding-top: 40px;
}

.number {
    position: relative;
    top: 30px;
}

.icon {
    width: 693px;
    height: 130px;
    position: relative;
    top: -1108px;
    left: 50px;
}

.contact-us {
    position: relative;
    top: 180px;
    left: 150px;
    width: 197px;
    height: 52px;
    background: local;
    color: #fff;
    font-size: 22px;
    font-weight: 200;


}

.smth {
    width: 80px;
    height: 300px;
    position: relative;
    top: -1350px;
    left: 180px;
}

.map {
    width: 1130px;
    height: 510px;
    position: relative;
    top: -1820px;
    left: 790px;
}